<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Dear <%= @student[:name] %>,</h1>
  <p>I hope this email finds you well. please see attached invoice for your payment of school fee.</p>
  <p>Please don't hesitate to reach out, in case of any query.</p>
  <p>Thank you.</p>
</body>
</html>
