<div class='container'>
  <div class='clearfix mb-3'>
    <button onclick='history.back()' class='btn btn-info float-end'>Go Back</button>
  </div>
  <div class="w-res mx-auto p-4 text-dark border border-dark">
    <h1 class="text-center"> Add Criteria</h1>
    <%= render 'form' %>
  </div>
</div>
<%= javascript_pack_tag 'age_criteria' %>
