<div class="container">
  <%= link_to "Add Student", new_student_path, class:"btn btn-info mb-3"%>
  <button onclick='history.back()' class='btn btn-info float-end'>Go Back</button>
  <div class="d-flex justify-content-between align-items-center">
    <%= render 'partials/search_students' %>
  </div>
  <%= render 'partials/students' %>
</div>
