<div class='flash-messages container w-50 z-index-1 position-absolute top-5 start-50 translate-middle'>
  <% if flash[:notice] %>
    <div class='alert alert-success alert-dismissible fade show text-center' role='alert'>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class='alert alert-danger alert-dismissible fade show text-center' role='alert'>
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('.flash-messages').fadeOut('slow');
    }, 2000);
  });
</script>
