<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Admin Account Confirmation</h1>
  <p>Hello <%= @admin.email %>,</p>
  <p>Your admin account has been successfully created and confirmed.</p>
  <p>You can now log in to the Admin App using your email and password.</p>
</body>
</html>
