<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Payment status</h1>
  <p>Hello <%= @student.email %>,</p>
  <p><%= @message %></p>
</body>
</html>
