/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	background-color: #B5FED9 !important;
}

.navbar {
	background-color: #98CBB4 !important;
}

.required:after {
	content: " *";
	color: red;
	font-weight: 100;
}

.home-link {
	text-decoration: none !important;
	color: black !important;
}

.section-link:hover {
	opacity: 1;
	mix-blend-mode: multiply;
}

.w-res {
	min-width: fit-content;
	width: 30%;
}

@media (max-width: 576px) {
	.w-res {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.w-res {
		width: 50%;
	}
}